# Extração dos dados

O codigo **03_get_tweets.py** deve estar na mesma pasta deste arquivo, enquanto tiver executando será inserido no arquivo txt

- Comando para executar o Codigo 03_get_tweets.py

In [12]:
!python 03_get_tweets.py

# Entendendo a estrutura do JSON

In [30]:
# Importação das Bibliotecas necessárias
import json

In [31]:
with open('./twitter/collect_tweets-21-03-07-08-58-13.txt','r', encoding="utf-8") as file:
    tweets = file.readlines()

In [8]:
with open('./twitter/tweet.json','w') as f:
    json.dump(
        json.loads(json.loads(tweets[0])), f
    )

In [32]:
# parse do tweets
parsed_tweets = [json.loads(json.loads(i)) for i in tweets]

In [33]:
len(parsed_tweets)

7942

# Acessando as Chaves do JSON (dicionário)

In [17]:
primeiro_tweet = parsed_tweets[0]

In [18]:
primeiro_tweet['user']

{'id': 1263109346843648001,
 'id_str': '1263109346843648001',
 'name': 'APDI/RUBIO * ADI/212 ***MANAURE***',
 'screen_name': 'Apdi212',
 'location': 'Rubio, Venezuela',
 'url': None,
 'description': '*APDI/RUBIO* perteneciente  al\n*ADI /MANAURE* (FRONTERA) @CMMLosAndes @MILICIA_B1 @ZODITACHIRA @Redi_andes @cmdtemiliciab1 @JefaturaMilicia síguenos🌟🌟🇻🇪🌟🌟',
 'translator_type': 'none',
 'protected': False,
 'verified': False,
 'followers_count': 788,
 'friends_count': 1253,
 'listed_count': 1,
 'favourites_count': 1912,
 'statuses_count': 6355,
 'created_at': 'Wed May 20 14:08:50 +0000 2020',
 'utc_offset': None,
 'time_zone': None,
 'geo_enabled': True,
 'lang': None,
 'contributors_enabled': False,
 'is_translator': False,
 'profile_background_color': 'F5F8FA',
 'profile_background_image_url': '',
 'profile_background_image_url_https': '',
 'profile_background_tile': False,
 'profile_link_color': '1DA1F2',
 'profile_sidebar_border_color': 'C0DEED',
 'profile_sidebar_fill_color': 'DDEEF6',
 'profile_text_color': '333333',
 'profile_use_background_image': True,
 'profile_image_url': 'http://pbs.twimg.com/profile_images/1318030674796990464/k4DgipXb_normal.jpg',
 'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1318030674796990464/k4DgipXb_normal.jpg',
 'profile_banner_url': 'https://pbs.twimg.com/profile_banners/1263109346843648001/1609041017',
 'default_profile': True,
 'default_profile_image': False,
 'following': None,
 'follow_request_sent': None,
 'notifications': None}

# Transormar os tweets em uma estrutura relaciona analisável

In [9]:
# Importando as Bibiliotecas necessárias
import pandas as pd

In [20]:
df_tratado = pd.DataFrame(primeiro_tweet).reset_index(drop=True).iloc[:1]
df_tratado

,created_at,id,id_str,text,source,truncated,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,...,reply_count,retweet_count,favorite_count,entities,favorited,retweeted,possibly_sensitive,filter_level,lang,timestamp_ms
0,Sun Mar 07 11:58:07 +0000 2021,1368531404309602307,1368531404309602307,Gracias por la MENSION 😎 ✌️ ! patriotavzlan: #...,"<a href=""https://ifttt.com"" rel=""nofollow"">IFT...",True,None,None,None,None,...,0,0,0,NaN,False,False,False,low,es,1615118287528

In [21]:
df_tratado.columns

Index(['created_at', 'id', 'id_str', 'text', 'source', 'truncated',
       'in_reply_to_status_id', 'in_reply_to_status_id_str',
       'in_reply_to_user_id', 'in_reply_to_user_id_str',
       'in_reply_to_screen_name', 'user', 'geo', 'coordinates', 'place',
       'contributors', 'quoted_status_id', 'quoted_status_id_str',
       'quoted_status', 'quoted_status_permalink', 'is_quote_status',
       'extended_tweet', 'quote_count', 'reply_count', 'retweet_count',
       'favorite_count', 'entities', 'favorited', 'retweeted',
       'possibly_sensitive', 'filter_level', 'lang', 'timestamp_ms'],
      dtype='object')

In [113]:
df_tratado.drop(columns=['quote_count', 'reply_count', 'retweet_count','favorite_count',
'favorited', 'retweeted', 'user', 'entities', 'quoted_status', 'quoted_status_permalink', 'extended_tweet', 'possibly_sensitive', 'quoted_status_id', 'quoted_status_id_str'], errors='ignore', inplace=True)

In [114]:
df_tratado['user_id'] = primeiro_tweet['user']['id']
df_tratado['user_id_str'] = primeiro_tweet['user']['id_str']
df_tratado['user_screen_name'] = primeiro_tweet['user']['screen_name']
df_tratado['user_location'] = primeiro_tweet['user']['location']
df_tratado['user_description'] = primeiro_tweet['user']['description']
df_tratado['user_protected'] = primeiro_tweet['user']['protected']
df_tratado['user_verified'] = primeiro_tweet['user']['verified']
df_tratado['user_followers_count'] = primeiro_tweet['user']['followers_count']
df_tratado['user_created_at'] = primeiro_tweet['user']['created_at']
df_tratado

,created_at,id,id_str,text,source,truncated,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,...,timestamp_ms,user_id,user_id_str,user_screen_name,user_location,user_description,user_protected,user_verified,user_followers_count,user_created_at
0,Sun Mar 07 12:07:21 +0000 2021,1368533727542980609,1368533727542980609,"RT @OsmarTerra: Boris Johnson,PM do Reino Unid...","<a href=""http://twitter.com/download/iphone"" r...",False,None,None,None,None,...,1615118841430,1039112356138311681,1039112356138311681,OsvaldoLimaJni1,"Uberlândia, Brasil","BOLSONARISTA Patriota! Médico Veterinário, bió...",False,False,38696,Mon Sep 10 11:24:26 +0000 2018

In [115]:
primeiro_tweet['entities']

{'hashtags': [],
 'urls': [],
 'user_mentions': [{'screen_name': 'OsmarTerra',
   'name': 'Osmar Terra',
   'id': 52722451,
   'id_str': '52722451',
   'indices': [3, 14]}],
 'symbols': []}

In [118]:
user_mentions = []
for i in range(len(primeiro_tweet['entities']['user_mentions'])):
    dicionariobase = primeiro_tweet['entities']['user_mentions'][i].copy()
    dicionariobase.pop('indices',None)
    df = pd.DataFrame(dicionariobase, index=[0])
    df = df.rename(columns={'screen_name': 'entities_screen_name',
    'name':'entities_name',
    'id':'entities_id',
    'id_str':'entities_id_str'})
    user_mentions.append(df)

user_mentions[0]

  entities_screen_name entities_name  entities_id entities_id_str
0           OsmarTerra   Osmar Terra     52722451        52722451

In [92]:
user_mentions[2]

,entities_screen_name,entities_name,entities_id,entities_id_str
0,20Mivzla,@20mivzla 🇻🇪💯🇻🇪,1338235540580261889,1338235540580261889

In [119]:
dfs = []
for i in user_mentions:
    dfs.append(
        pd.concat([df_tratado.copy(),i], axis=1)
    )

In [120]:
pd.concat(dfs, ignore_index=True)

,created_at,id,id_str,text,source,truncated,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,...,user_location,user_description,user_protected,user_verified,user_followers_count,user_created_at,entities_screen_name,entities_name,entities_id,entities_id_str
0,Sun Mar 07 12:07:21 +0000 2021,1368533727542980609,1368533727542980609,"RT @OsmarTerra: Boris Johnson,PM do Reino Unid...","<a href=""http://twitter.com/download/iphone"" r...",False,None,None,None,None,...,"Uberlândia, Brasil","BOLSONARISTA Patriota! Médico Veterinário, bió...",False,False,38696,Mon Sep 10 11:24:26 +0000 2018,OsmarTerra,Osmar Terra,52722451,52722451

## Criação de uma função que faz todo o tratamento do tweet e converte para um DataFrame pandas

In [34]:
def tweet_para_df(tweet):
    try:
        # criação do Data Frame do Tweet
        df_tratado = pd.DataFrame(tweet).reset_index(drop=True).iloc[:1]

        # retirada das colunas que não serão utulizadas
        df_tratado.drop(columns=['quote_count', 'reply_count', 'retweet_count','favorite_count','favorited', 'retweeted', 
        'user', 'entities' 'quoted_status', 'quoted_status_permalink', 'extended_tweet', 'possibly_sensitive', 
        'quoted_status_id', 'quoted_status_id_str'], errors='ignore', inplace=True)

        #inclusão das colunas com os dados do user
        df_tratado['user_id'] = tweet['user']['id']
        df_tratado['user_id_str'] = tweet['user']['id_str']
        df_tratado['user_screen_name'] = tweet['user']['screen_name']
        df_tratado['user_location'] = tweet['user']['location']
        df_tratado['user_description'] = tweet['user']['description']
        df_tratado['user_protected'] = tweet['user']['protected']
        df_tratado['user_verified'] = tweet['user']['verified']
        df_tratado['user_followers_count'] = tweet['user']['followers_count']
        df_tratado['user_created_at'] = tweet['user']['created_at']

        #inclusão das colunas com os dados do user_mentions
        user_mentions = []
        for i in range(len(tweet['entities']['user_mentions'])):
            dicionariobase = tweet['entities']['user_mentions'][i].copy()
            dicionariobase.pop('indices',None)
            df = pd.DataFrame(dicionariobase, index=[0])
            df = df.rename(columns={'screen_name': 'entities_screen_name',
            'name':'entities_name',
            'id':'entities_id',
            'id_str':'entities_id_str'
            })
            user_mentions.append(df)
        # junção das linhas user_mentions
        dfs = []
        for i in user_mentions:
            dfs.append(
                pd.concat([df_tratado.copy(),i], axis=1)
            )
        df_final = pd.concat(dfs, ignore_index=True)
    except:
        return None
    return df_final

In [24]:
parsed_tweets[0]

In [30]:
tweet_para_df(parsed_tweets[0])

,created_at,id,id_str,text,source,truncated,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,...,user_location,user_description,user_protected,user_verified,user_followers_count,user_created_at,entities_screen_name,entities_name,entities_id,entities_id_str
0,Sun Mar 07 11:58:07 +0000 2021,1368531404309602307,1368531404309602307,Gracias por la MENSION 😎 ✌️ ! patriotavzlan: #...,"<a href=""https://ifttt.com"" rel=""nofollow"">IFT...",True,None,None,None,None,...,"Rubio, Venezuela",*APDI/RUBIO* perteneciente al\n*ADI /MANAURE*...,False,False,788,Wed May 20 14:08:50 +0000 2020,NicolasMaduro,Nicolás Maduro,1252764865,1252764865
1,Sun Mar 07 11:58:07 +0000 2021,1368531404309602307,1368531404309602307,Gracias por la MENSION 😎 ✌️ ! patriotavzlan: #...,"<a href=""https://ifttt.com"" rel=""nofollow"">IFT...",True,None,None,None,None,...,"Rubio, Venezuela",*APDI/RUBIO* perteneciente al\n*ADI /MANAURE*...,False,False,788,Wed May 20 14:08:50 +0000 2020,jlopezs2021,Jairo López | Tec. Electrónico 😷 🇻🇪,1351946537673355264,1351946537673355264
2,Sun Mar 07 11:58:07 +0000 2021,1368531404309602307,1368531404309602307,Gracias por la MENSION 😎 ✌️ ! patriotavzlan: #...,"<a href=""https://ifttt.com"" rel=""nofollow"">IFT...",True,None,None,None,None,...,"Rubio, Venezuela",*APDI/RUBIO* perteneciente al\n*ADI /MANAURE*...,False,False,788,Wed May 20 14:08:50 +0000 2020,20Mivzla,@20mivzla 🇻🇪💯🇻🇪,1338235540580261889,1338235540580261889

# Padronização de todos Tweets

In [35]:
%%time
parseados = [tweet_para_df(tweet) for tweet in parsed_tweets]

Wall time: 1min

In [36]:
# Eliminar as posições vazias da lista

parseados = [i for i in parseados if i is not None]

In [37]:
tratado = pd.concat(parseados, ignore_index=True)

In [38]:
tratado

,created_at,id,id_str,text,source,truncated,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,...,user_protected,user_verified,user_followers_count,user_created_at,entities_screen_name,entities_name,entities_id,entities_id_str,retweeted_status,extended_entities
0,Sun Mar 07 11:58:07 +0000 2021,1368531404309602307,1368531404309602307,Gracias por la MENSION 😎 ✌️ ! patriotavzlan: #...,"<a href=""https://ifttt.com"" rel=""nofollow"">IFT...",True,None,None,None,None,...,False,False,788,Wed May 20 14:08:50 +0000 2020,NicolasMaduro,Nicolás Maduro,1252764865,1252764865,NaN,NaN
1,Sun Mar 07 11:58:07 +0000 2021,1368531404309602307,1368531404309602307,Gracias por la MENSION 😎 ✌️ ! patriotavzlan: #...,"<a href=""https://ifttt.com"" rel=""nofollow"">IFT...",True,None,None,None,None,...,False,False,788,Wed May 20 14:08:50 +0000 2020,jlopezs2021,Jairo López | Tec. Electrónico 😷 🇻🇪,1351946537673355264,1351946537673355264,NaN,NaN
2,Sun Mar 07 11:58:07 +0000 2021,1368531404309602307,1368531404309602307,Gracias por la MENSION 😎 ✌️ ! patriotavzlan: #...,"<a href=""https://ifttt.com"" rel=""nofollow"">IFT...",True,None,None,None,None,...,False,False,788,Wed May 20 14:08:50 +0000 2020,20Mivzla,@20mivzla 🇻🇪💯🇻🇪,1338235540580261889,1338235540580261889,NaN,NaN
3,Sun Mar 07 11:58:07 +0000 2021,1368531404678692864,1368531404678692864,RT @JoyVBehar: We will remember come Election ...,"<a href=""http://twitter.com/#!/download/ipad"" ...",False,None,None,None,None,...,False,False,80,Tue Dec 30 01:37:33 +0000 2014,JoyVBehar,Joy Behar,32004130,32004130,1368358235116290049,NaN
4,Sun Mar 07 11:58:07 +0000 2021,1368531404926033921,1368531404926033921,"RT @KKMPutrajaya: Status Terkini #COVID19, 7 M...","<a href=""http://twitter.com/download/android"" ...",False,None,None,None,None,...,False,False,6425,Mon Jul 25 17:39:47 +0000 2016,KKMPutrajaya,KKMalaysia🇲🇾,531041640,531041640,1368492283188846594,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7668,Sun Mar 07 12:04:04 +0000 2021,1368532900635844611,1368532900635844611,RT @KingNginamo1: Paki sabi at paki rt nalang....,"<a href=""http://twitter.com/download/android"" ...",False,None,None,None,None,...,False,False,156,Sun Jul 09 10:50:00 +0000 2017,KingNginamo1,King,1253235380544892934,1253235380544892934,1368092778601668611,NaN
7669,Sun Mar 07 12:04:04 +0000 2021,1368532901223161856,1368532901223161856,RT @JeanDup58572389: Le Brésil vit une catastr...,"<a href=""https://mobile.twitter.com"" rel=""nofo...",False,None,None,None,None,...,False,False,207,Sun Oct 17 22:46:56 +0000 2010,JeanDup58572389,Jean Dupond,1232753275893698561,1232753275893698561,1368475838946115587,NaN
7670,Sun Mar 07 12:04:04 +0000 2021,1368532901596459008,1368532901596459008,RT @pedoqpop: Shisha boleh isap ke jaman covid...,"<a href=""http://twitter.com/download/iphone"" r...",False,None,None,None,None,...,False,False,82,Thu Sep 13 13:35:39 +0000 2018,pedoqpop,Pedoq what is this behaviour?,921388628,921388628,1368197856197144581,NaN
7671,Sun Mar 07 12:04:04 +0000 2021,1368532901789368337,1368532901789368337,RT @StevenBeschloss: Pausing to send thanks @s...,"<a href=""http://twitter.com/download/iphone"" r...",False,None,None,None,None,...,False,False,3338,Wed Jun 17 05:10:36 +0000 2009,StevenBeschloss,Steven Beschloss,81741855,81741855,1368260074846625797,NaN
7672,Sun Mar 07 12:04:04 +0000 2021,1368532901789368337,1368532901789368337,RT @StevenBeschloss: Pausing to send thanks @s...,"<a href=""http://twitter.com/download/iphone"" r...",False,None,None,None,None,...,False,False,3338,Wed Jun 17 05:10:36 +0000 2009,staceyabrams,Stacey Abrams,216065430,216065430,1368260074846625797,NaN

# Ingestão de dados do Twitter no MySQL

In [21]:
!pip install mysqlconnector

ERROR: Could not find a version that satisfies the requirement mysqlconnector (from versions: none)
ERROR: No matching distribution found for mysqlconnector

In [40]:
# importação das bibliotecas

import pyodbc
import sqlalchemy
import MySQLdb
#import mysqlconnector

In [44]:
# Conexão com o MySQL
engine = sqlalchemy.create_engine(
    "mysql://root:admin@localhost/twitter?charset=utf8mb4"
)

In [45]:
# ingestão dos dados

tratado.to_sql("tweets",con=engine, index=False, if_exists='replace')