# Extração dos dados do Enade

### Lind para importação dos dados: https://download.inep.gov.br/microdados/Enade_Microdados/microdados_enade_2019.zip

In [2]:
import pandas as pd
import numpy as np
import zipfile
import requests
from io import BytesIO
import os

In [7]:
# Criação de um diretório para armazenar o conteúdo do ENADE

os.makedirs('./enade2019', exist_ok=True)

In [8]:
# Definição da Variavel com o link do Arquivo com os dados do Enade do ano de 2019
url = 'https://download.inep.gov.br/microdados/Enade_Microdados/microdados_enade_2019.zip'

# Metodo que realiza o Download via HTTP Request 
filebytes = BytesIO(requests.get(url).content)

# Extração do Conteudo arquivo ZIP
# Link da biblioteca ZipFile https://docs.python.org/3/library/zipfile.html
myzip = zipfile.ZipFile(filebytes) #Criação do Objeto do tipo ZIP
myzip.extractall("./enade2019") # Extraindo os dados para a pasta criada

## Verificação dos dados do Enade 2019

In [5]:
# Leitura do arquivo csv
enade = pd.read_csv("./enade2019/2019/3.DADOS/microdados_enade_2019.txt",sep = ";", decimal=",")

In [9]:
enade.head()

,NU_ANO,CO_IES,CO_CATEGAD,CO_ORGACAD,CO_GRUPO,CO_CURSO,CO_MODALIDADE,CO_MUNIC_CURSO,CO_UF_CURSO,CO_REGIAO_CURSO,...,QE_I59,QE_I60,QE_I61,QE_I62,QE_I63,QE_I64,QE_I65,QE_I66,QE_I67,QE_I68
0,2019,1,10002,10028,5710,3,1,5103403,51,5,...,2.0,5.0,1.0,1.0,2.0,5.0,8.0,7.0,1.0,2.0
1,2019,1,10002,10028,5710,3,1,5103403,51,5,...,1.0,4.0,2.0,2.0,2.0,5.0,4.0,4.0,2.0,2.0
2,2019,1,10002,10028,5710,3,1,5103403,51,5,...,3.0,4.0,4.0,3.0,3.0,4.0,1.0,1.0,1.0,4.0
3,2019,1,10002,10028,5710,3,1,5103403,51,5,...,3.0,5.0,2.0,2.0,2.0,3.0,3.0,4.0,3.0,3.0
4,2019,1,10002,10028,5710,3,1,5103403,51,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
enade.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 433930 entries, 0 to 433929
Columns: 137 entries, NU_ANO to QE_I68
dtypes: float64(61), int64(33), object(43)
memory usage: 453.6+ MB